{{if .REDIS_BIND}}
bind {{.REDIS_BIND}}
{{end}}

protected-mode {{ .REDIS_PROTECTED_MODE }}

port {{ .REDIS_PORT }}

databases {{ .REDIS_DATABASE }}

{{if .REDIS_MASTER_HOST }}
slaveof {{.REDIS_MASTER_HOST}} {{.REDIS_MASTER_PORT}}
{{end}}

{{if .REDIS_MASTER_AUTH}}
masterauth {{.REDIS_MASTER_AUTH}}
{{end}}

slave-serve-stale-data yes

slave-read-only yes

slave-priority {{.REDIS_SLAVE_PRIORITY}}
